@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: none;
}

html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

.btn {
  display: inline-block;
  padding: 1.2rem 3rem;
  background: #f0fdfa;
  font-size: 1.7rem;
  color: #0eb582;
  border: 0.1rem solid #0eb582;
  cursor: pointer;
}

.btn.active {
  background: #0eb582;
  color: #fff;
}

.btn:hover {
  background: #0eb582;
  color: #fff;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #444;
}

header .logo i {
  color: #0eb582;
  margin-right: .5rem;
}

header .navbar {
  position: relative;
}

header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  color: #444;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: none;
}

header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  color: #444;
}

header .navbar a:hover {
  color: #0eb582;
}

header .icons div {
  margin-left: 1.5rem;
  color: #444;
  font-size: 2.5rem;
  cursor: pointer;
}

header .icons div:hover {
  color: #0eb582;
}

header #menu-btn {
  display: none;
}

.account {
  position: fixed;
  top: 0;
  right: -36rem;
  width: 35rem;
  height: 100%;
  background: #fff;
  z-index: 1200;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  text-align: center;
}

.account.active {
  right: 0;
}

.account #close-account {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
}

.account #close-account:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.account .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.account .common {
  padding: 2rem;
  border: 0.1rem solid #0eb582;
  text-align: center;
  display: none;
}

.account .common.active {
  display: block;
}

.account .common h3 {
  font-size: 2.5rem;
  color: #444;
  margin-bottom: 1.5rem;
}

.account .common .input {
  width: 100%;
  border: 0.1rem solid #0eb582;
  padding: 1.2rem 1.4rem;
  margin: .7rem 0;
  text-transform: none;
  font-size: 1.6rem;
}

.account .common .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin: 1rem 0;
  font-size: 1.4rem;
}

.account .common .checkbox-container label {
  text-transform: none;
}

.account .common .checkbox-container a {
  margin-left: auto;
  text-transform: none;
  color: #444;
}

.account .common .checkbox-container a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  header #menu-btn {
    display: inline-block;
  }
  header .navbar {
    position: fixed;
    top: 0;
    right: -30rem;
    width: 30rem;
    height: 100%;
    background: #fff;
    z-index: 1200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar #close-navbar {
    display: block;
  }
  header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  header .navbar a {
    display: block;
    margin: 1rem 0;
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */